@model CreateCommentModel
@{
    ViewData["Title"] = "CreateComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
	{
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
}

<h1>CreateComment</h1>

<div class="offset-lg-1 col-lg-10">
	<div class="middull-content">
		<ul class="page-nish">
			<li>
				<a href="index.html">
					<i class="ri-home-8-line"></i>
					Home
				</a>
			</li>
			<li>
				Question
			</li>
			<li class="active">
				Question Details
			</li>
		</ul>

		<form class="aq-form" >
			<i class="ri-search-line"></i>
			<input type="text" class="form-control" placeholder="Have a question? Ask or enter a search">
			<button class="aq-btn">
				Ask Question
			</button>
		</form>

		<div class="question-details-area">
			<div class="question-details-content like-dislike">
				<div class="d-flex">
					<div class="link-unlike flex-shrink-0">
						<a href="user.html">
							<img src="~/pify/assets/images/user/user-1.jpg" alt="Image">
						</a>

						<div class="donet-like-list">
							<button class="like-unlink-count like">
								<i class="ri-thumb-up-fill"></i>
								<span>4974</span>
							</button>
						</div>

						<div class="donet-like-list">
							<button class="like-unlink-count dislike">
								<i class="ri-thumb-down-fill"></i>
								<span>25</span>
							</button>
						</div>
					</div>

					<div class="flex-grow-1 ms-3">
						<ul class="graphic-design">
							<li>
								<a href="user.html">Teresa Klein</a>
							</li>
							<li>
								<span>Latest Answer: 14 hours ago</span>
							</li>
							<li>
								<span>In:</span>
								<a href="tags.html" class="graphic">
									Graphic design
								</a>
							</li>
						</ul>

						<h3>
							<a href="queations-details.html">
								If you open Illustrator by dragging the Photoshop file, why it becomes a JPG file
							</a>
						</h3>

						<p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada.</p>

						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

						<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id posuere blandit. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>

						<p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat.</p>

						<ul class="tag-list">
							<li>
								<a href="tags.html">Discussion</a>
							</li>
							<li>
								<a href="tags.html">Photoshop</a>
							</li>
							<li>
								<a href="tags.html">Analytics</a>
							</li>
						</ul>

						<div class="d-flex justify-content-between align-items-center">
							<ul class="anser-list">
								<li>
									<a href="polls.html">
										24 Vote
									</a>
								</li>
								<li>
									<a href="most-answered.html">
										2 Answer
									</a>
								</li>
								<li>
									<a href="most-visited.html">
										658 Views
									</a>
								</li>
								<li>
									<ul class="qa-share">
										<li class="share-option">
											<span>
												<i class="ri-share-fill"></i>
											</span>

											<ul class="social-icon">
												<li>
													<a href="https://www.facebook.com/" target="_blank">
														<i class="ri-facebook-fill"></i>
													</a>
												</li>
												<li>
													<a href="https://www.twitter.com/" target="_blank">
														<i class="ri-twitter-line"></i>
													</a>
												</li>
												<li>
													<a href="https://www.linkedin.com/" target="_blank">
														<i class="ri-linkedin-fill"></i>
													</a>
												</li>
												<li>
													<a href="https://www.instagram.com/" target="_blank">
														<i class="ri-instagram-line"></i>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>

							<a href="most-answered.html" class="default-btn">
								Answer
							</a>
						</div>
					</div>
				</div>
			</div>

			<ul class="answerss d-flex justify-content-between align-items-center">
				<li>
					<h3>2 Answers</h3>
				</li>
				<li>
					<select class="form-select" aria-label="Default select example">
						<option selected>All answer</option>
						<option value="1">One</option>
						<option value="2">Two</option>
						<option value="3">Three</option>
					</select>
				</li>
			</ul>

			<div class="answer-question-details like-dislike">
				<div class="d-flex">
					<div class="link-unlike flex-shrink-0">
						<a href="user.html">
							<img src="~/pify/assets/images/user/user-13.jpg" alt="Image">
						</a>

						<div class="donet-like-list">
							<button class="like-unlink-count like">
								<i class="ri-thumb-up-fill"></i>
								<span>197</span>
							</button>
						</div>

						<div class="donet-like-list">
							<button class="like-unlink-count dislike">
								<i class="ri-thumb-down-fill"></i>
								<span>2</span>
							</button>
						</div>
					</div>

					<div class="flex-grow-1 ms-3">
						<ul class="latest-answer-list">
							<li>
								<a href="user.html">Elsa Feldman</a>
							</li>
							<li>
								<span>Latest Answer: 2 hours ago</span>
							</li>
						</ul>

						<p>Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec sollicitudin molestie malesuada Donec velit neque.</p>

						<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
					</div>
				</div>
			</div>

			<form class="your-answer-form" method="post" asp-antiforgery="true"
				  asp-area="MyProfile" asp-controller="Comment" asp-action="CreateComment">
					<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<h3>Your Answer</h3>
				</div>
				<div class="form-group">
					<label asp-for="Description">Write your answer here.</label>
						<textarea asp-for="Description" id="summernote" maxlength="1500"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="default-btn">Post Your Answer</button>
				</div>
			</form>
		</div>
	</div>
</div>

@section Scripts
{
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

	<script>
		$(document).ready(function () {
			$('#summernote').summernote();
		});
	</script>
}

