<!doctype html>
<html lang="zxx">
    
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Links Of CSS File -->
	<link rel="stylesheet" href="~/pify/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/flaticon.css">
	<link rel="stylesheet" href="~/pify/assets/css/remixicon.css">
	<link rel="stylesheet" href="~/pify/assets/css/meanmenu.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/animate.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/metismenu.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/pify/assets/css/editor.css">
	<link rel="stylesheet" href="~/pify/assets/css/style.css">
	<link rel="stylesheet" href="~/pify/assets/css/responsive.css">
	@await RenderSectionAsync("Styles", required: false)
		
	<!-- Favicon -->
	<link rel="icon" type="image/png" href="~/pify/assets/images/favicon.png">
	<!-- Title -->
	<title>@ViewData["Title"] - Stack Overflow</title>
</head>

<body>
	<!-- Start Preloader Area -->
	<div class="preloader" id="loader-style">
		<div class="preloader-wrap">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- End Preloader Area -->
		
	<!-- Start Navbar Area --> 
	<div class="navbar-area">
		<div class="mobile-responsive-nav">
			<div class="container">
				<div class="mobile-responsive-menu">
					<div class="logo">
						<a href="index.html">
							<img src="~/pify/assets/images/logo.png" alt="logo">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="desktop-nav">
			<div class="container">
				<nav class="navbar navbar-expand-md navbar-light">
					<a class="navbar-brand" href="index.html">
						<img src="~/pify/assets/images/logo.png" alt="logo">
					</a>

					<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
						<ul class="navbar-nav m-auto">
							<li class="nav-item">
								<a href="index.html" class="nav-link active">
									Home 
								</a>
							</li>
							<li class="nav-item">
								<a href="about.html" class="nav-link">
									About Us
								</a>
							</li>

							<li class="nav-item">
								<a href="#" class="nav-link dropdown-toggle">
									Blog            
								</a>

								<ul class="dropdown-menu">
									<li class="nav-item">
										<a href="blog.html" class="nav-link">Blog</a>
									</li>
									<li class="nav-item">
										<a href="blog-details.html" class="nav-link">Blog Details</a>
									</li>
								</ul>
							</li>

							<li class="nav-item">
								<a href="contact-us.html" class="nav-link">Contact Us</a>
							</li>

							<li class="nav-item">
								<a href="#" class="nav-link dropdown-toggle">
									Pages 
								</a>

								<ul class="dropdown-menu">
									<li class="nav-item">
										<a href="activity.html" class="nav-link">Activity</a>
									</li>
									<li class="nav-item">
										<a href="referrals.html" class="nav-link">Referrals</a>
									</li>
									<li class="nav-item">
										<a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
									</li>
									<li class="nav-item">
										<a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
									</li>
									<li class="nav-item">
										<a href="coming-soon.html" class="nav-link">Coming Soon</a>
									</li>
									<li class="nav-item">
										<a href="404.html" class="nav-link">404 Page</a>
									</li>
								</ul>
							</li>
						</ul>

						<div class="others-options">
							<ul>
								<li>
									<form class="search-box">
										<input type="text" name="Search" placeholder="Search for..." class="form-control">

										<button type="submit" class="search-btn">
											<i class="ri-search-line"></i>
										</button>
									</form>
								</li>
								<partial name="_LoginPartial" />
								@*<li>
									<a href="log-in.html" data-bs-toggle="modal" data-bs-target="#exampleModal" class="active">
										Log in
									</a>
								</li>
								<li>
									<a href="sign-up.html" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
										Sign up
									</a>
								</li>*@
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

		<div class="others-option-for-responsive">
			<div class="container">
				<div class="dot-menu">
					<div class="inner">
						<div class="circle circle-one"></div>
						<div class="circle circle-two"></div>
						<div class="circle circle-three"></div>
					</div>
				</div>
					
				<div class="container">
					<div class="option-inner">
						<div class="others-options justify-content-center d-flex align-items-center">
							<ul>
								<li>
									<form class="search-box">
										<input type="text" name="Search" placeholder="Search for..." class="form-control">
									
										<button type="submit" class="search-btn">
											<i class="ri-search-line"></i>
										</button>
									</form>
								</li>
								<li>
									<a href="log-in.html" data-bs-toggle="modal" data-bs-target="#exampleModal-3" class="active">
										Log in	
									</a>
								</li>
								<li>
									<a href="sign-up.html" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
										Sign up
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Navbar Area -->

	<!-- Start Banner Area -->
	<div class="banner-area">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="banner-content">
						<h1>Stack Overflow</h1>
						<h3>Share & grow the world's <span>knowledge</span>!</h3>
						<p>We want to connect with people who will share their knowledge from one person to another.</p>
						<a href="user.html" class="default-btn">
							Create a free team
						</a>
					</div>
				</div>

				<div class="col-lg-6 pe-0">
					<div class="banner-img">
						<img src="~/pify/assets/images/banner/banner-img.png" alt="Image">
						<img src="~/pify/assets/images/banner/shape-1.png" alt="Image" class="shape shape-1">
						<img src="~/pify/assets/images/banner/shape-2.png" alt="Image" class="shape shape-2">
						<img src="~/pify/assets/images/banner/shape-3.png" alt="Image" class="shape shape-3">
						<img src="~/pify/assets/images/banner/shape-4.png" alt="Image" class="shape shape-4">
						<img src="~/pify/assets/images/banner/shape-5.png" alt="Image" class="shape shape-5">
						<img src="~/pify/assets/images/banner/shape-6.png" alt="Image" class="shape shape-6">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Banner Area -->

	<!-- Start Mail Content Area -->
	<div class="main-content-area ptb-100">
		<div class="container">
			<div class="row">
				@RenderBody()
			</div>
		</div>
	</div>
	<!-- End Mail Content Area -->

	<!-- Start Footer + Copyright Area -->
		<partial name="_FooterPartial" />
	<!-- End Footer + Copyright Area -->

		

	<!-- Start Log In Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Log In</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="user-form">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.google.com/" target="_blank" class="or-login google">
									Google
								</a>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.facebook.com/" target="_blank" class="or-login facebook">
									Facebook
								</a>
							</div>
		
							<div class="col-12">
								<span class="or">Or</span>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>User name or email</label>
									<input class="form-control" type="text" name="name">
								</div>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" type="password" name="password">
								</div>
							</div>
		
							<div class="col-12">
								<div class="login-action">
									<span class="forgot-login">
										<a href="register.html">Forgot Password?</a>
									</span>
								</div>
							</div>
		
							<div class="col-12">
								<button class="default-btn" type="submit">
									Log In
								</button>
							</div>
		
							<div class="col-12">
								<p class="create">Don't have an account? <a href="user-profile.html">Join us </a></p>  
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Enad Log In Modal -->

	<!-- Start Sign Up Modal -->
	<div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Sign up</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="user-form">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.google.com/" target="_blank" class="or-login google">
									Google
								</a>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.facebook.com/" target="_blank" class="or-login facebook">
									Facebook
								</a>
							</div>
		
							<div class="col-12">
								<span class="or">Or</span>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>User name</label>
									<input class="form-control" type="text" name="name">
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<label>Email</label>
									<input class="form-control" type="email" name="name">
								</div>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" type="password" name="password">
								</div>
							</div>
		
							<div class="col-12">
								<div class="login-action">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
										<label class="form-check-label" for="flexCheckDefault">
											I agree to the 
											<a href="terms-conditions.html">Terms of Use</a>
											and 
											<a href="privacy-policy.html">Privacy Policy</a>
										</label>
									</div>
								</div>
							</div>
		
							<div class="col-12">
								<button class="default-btn" type="submit">
									Sign up
								</button>
							</div>
		
							<div class="col-12">
								<p class="create">Already on disilab?  <a href="login.html">Login</a></p>  
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Enad Sign Up Modal -->

	<!-- Start Log In Modal -->
	<div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Log In</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="user-form">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.google.com/" target="_blank" class="or-login google">
									Google
								</a>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.facebook.com/" target="_blank" class="or-login facebook">
									Facebook
								</a>
							</div>
		
							<div class="col-12">
								<span class="or">Or</span>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>User name or email</label>
									<input class="form-control" type="text" name="name">
								</div>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" type="password" name="password">
								</div>
							</div>
		
							<div class="col-12">
								<div class="login-action">
									<span class="forgot-login">
										<a href="register.html">Forgot Password?</a>
									</span>
								</div>
							</div>
		
							<div class="col-12">
								<button class="default-btn" type="submit">
									Log In
								</button>
							</div>
		
							<div class="col-12">
								<p class="create">Don't have an account? <a href="sign-up.html">Sign Up</a></p>  
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Enad Log In Modal -->

	<!-- Start Sign Up Modal -->
	<div class="modal fade" id="exampleModal-4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Sign up</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form class="user-form">
						<div class="row">
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.google.com/" target="_blank" class="or-login google">
									Google
								</a>
							</div>
		
							<div class="col-lg-6 col-sm-6">
								<a href="https://www.facebook.com/" target="_blank" class="or-login facebook">
									Facebook
								</a>
							</div>
		
							<div class="col-12">
								<span class="or">Or</span>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>User name</label>
									<input class="form-control" type="text" name="name">
								</div>
							</div>

							<div class="col-12">
								<div class="form-group">
									<label>Email</label>
									<input class="form-control" type="email" name="name">
								</div>
							</div>
		
							<div class="col-12">
								<div class="form-group">
									<label>Password</label>
									<input class="form-control" type="password" name="password">
								</div>
							</div>
		
							<div class="col-12">
								<div class="login-action">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault-2">
										<label class="form-check-label" for="flexCheckDefault-2">
											I agree to the 
											<a href="terms-conditions.html">Terms of Use</a>
											and 
											<a href="privacy-policy.html">Privacy Policy</a>
										</label>
									</div>
								</div>
							</div>
		
							<div class="col-12">
								<button class="default-btn" type="submit">
									Sign up
								</button>
							</div>
		
							<div class="col-12">
								<p class="create">Already on disilab?  <a href="login.html">Login</a></p>  
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Enad Sign Up Modal -->

	<!-- Start Go Top Area -->
	<div class="go-top">
		<i class="ri-arrow-up-s-fill"></i>
		<i class="ri-arrow-up-s-fill"></i>
	</div>
	<!-- End Go Top Area -->

    <!-- Links of JS File -->
    <script data-cfasync="false" src="~/pify/assets/js/cloudflare-static/email-decode.min.js"></script>
	<script src="~/pify/assets/js/jquery.min.js"></script>
    <script src="~/pify/assets/js/bootstrap.bundle.min.js"></script>
	<script src="~/pify/assets/js/meanmenu.min.js"></script>
	<script src="~/pify/assets/js/owl.carousel.min.js"></script>
	<script src="~/pify/assets/js/form-validator.min.js"></script>
	<script src="~/pify/assets/js/contact-form-script.js"></script>
	<script src="~/pify/assets/js/ajaxchimp.min.js"></script>
	<script src="~/pify/assets/js/metismenu.js"></script>
	<script src="~/pify/assets/js/editor.js"></script>
	<script src="~/pify/assets/js/like-dislike.min.js"></script>
	<script src="~/pify/assets/js/custom.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>