@using Microsoft.AspNetCore.Identity
@using StackOverflow.Infrastructure.Entities.Membership
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="" asp-action="" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li >
        <form class="form-inline" asp-area="" asp-controller="" asp-action="" 
        asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <a  type="submit">Logout</a>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li>
        <a class="active" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
    </li>
}