
@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<partial name="_BannerHidePartial" />
}

<h1 class="text-center">Welcome 👋 @User.Identity.Name</h1>

