@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<style>
		.banner-area
		{
			display: none;
		}
	</style>
}

<form class="user-form needs-validation" novalidate asp-area="" asp-controller="Account" asp-action="Login" method="post">
	<div class="row">
		<h2 class="text-center">@ViewData["Title"]</h2>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="emailValidation">Email</label>
				<input asp-for="Email" class="form-control" type="email" name="name" id="emailValidation" required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
		</div>
			
		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="passwordValidation">Password</label>
				<input asp-for="Password" class="form-control" type="password" name="password" 
				id="passwordValidation" minlength="6" required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
		</div>
			
		<div class="col-12">
			<button class="default-btn" type="submit">
				Login
			</button>
		</div>
			
		<div class="col-12">
			<p class="create">Don't have an account? 
				<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
			</p>  
		</div>
	</div>
</form>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
	<script src="~/pify/assets/js/disableFormSubmission.js"></script>
}