@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<style>
		.banner-area
		{
			display: none;
		}
	</style>
}

<form class="user-form needs-validation" novalidate>
	<div class="row">
		<h2 class="text-center">Login</h2>
		
		<div class="col-12">
			<div class="form-group">
				<label for="validationCustom01">Email</label>
				<input asp-for="Email" class="form-control" type="email" name="name" id="validationCustom01" required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
		</div>
			
		<div class="col-12">
			<div class="form-group">
				<label for="validationCustom02">Password</label>
					<input asp-for="Password" class="form-control" type="password" name="password" id="validationCustom02" required>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>
		</div>
			
		<div class="col-12">
			<button class="default-btn" type="submit">
				Login
			</button>
		</div>
			
		<div class="col-12">
			<p class="create">Don't have an account? 
				<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
			</p>  
		</div>
	</div>
</form>

@section Scripts
{
	<script src="~/pify/assets/js/disableFormSubmission.js"></script>
}