@model RegisterModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
	<style>
		.banner-area {
			display: none;
		}
	</style>
}

<form class="user-form needs-validation" novalidate asp-area="" asp-controller="Account" asp-action="Register" 
asp-antiforgery="true" method="post">
	<div class="row">
		<h2 class="text-center">@ViewData["Title"]</h2>
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="displayNameValidation">Display Name</label>
				<input asp-for="DisplayName" class="form-control" type="text" name="name" id="displayNameValidation" required>
			</div>
		</div>

		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="emailValidation">Email</label>
					<input asp-for="Email" class="form-control" type="email" name="name" id="emailValidation" required>
			</div>
		</div>

		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="passwordValidation">Password</label>
				<input asp-for="Password" class="form-control" 
				type="password" name="password" id="passwordValidation" minlength="6" required>
			</div>
		</div>

		<div class="col-12">
			<div class="form-group">
				<label class="form-label" for="confirmPasswordValidation">Confirm Password</label>
				<input asp-for="ConfirmPassword" class="form-control" 
				type="password" name="password" id="confirmPasswordValidation" minlength="6" required>
			</div>
		</div>

		<div class="col-12">
			<button class="default-btn" type="submit">
				Register
			</button>
		</div>

		<div class="col-12">
			<p class="create">
				Already have an account?
				<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
			</p>
		</div>
	</div>
</form>

@section Scripts
{
	<script src="~/pify/assets/js/disableFormSubmission.js"></script>
	<partial name="_ValidationScriptsPartial" />
	@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">*@
	<script>
		$('#password, #confirmpassword').on('keyup', function () {

			$('.confirm-message').removeClass('success-message').removeClass('error-message');

			let password = $('#password').val();
			let confirm_password = $('#confirmpassword').val();

			if (password === "") {
				$('.confirm-message').text("Password Field cannot be empty").addClass('error-message');
			}
			else if (confirm_password === "") {
				$('.confirm-message').text("Confirm Password Field cannot be empty").addClass('error-message');
			}
			else if (confirm_password === password) {
				$('.confirm-message').text('Password Match!').addClass('success-message');
			}
			else {
				$('.confirm-message').text("Password Doesn't Match!").addClass('error-message');
			}

		});
	</script>
}